
    p{
        color: red;
        text-align: center;
    }
    #titulo1{
        color:darkblue;
        text-align: right
    }
    .paragrafo1{
        color:darkgoldenrod;
        text-align: left;
    }
    h1.paragrafo1 {
        text-align: right;
        color:darkgreen;
    }

    body {
        background-color: lightblue;
        background-image: url("image.png");
        background-repeat: no-repeat;
        background-position: right top;
        margin-right: 200px;
        margin-left: 150px;
        margin-top: 100px;
        margin-bottom: 100px;
        background-attachment: fixed;
    }

    p.dotted{
        border-style:dotted;
    }
    p.dashed{
        border-style:dashed;
    }
    p.solid{
        border-style:solid;
    }
    p.double{
        border-style:double;
    }
    p.groove{
        border-style:groove;
    }
    p.ridge{
        border-style:ridge;
    }
    p.inset{
        border-style:inset;
    }
    p.outset{
        border-style:outset;
    }
    p.none{
        border-style:none;
    }
    p.hidden{
        border-style:hidden;
    }
    p.mix{
        border-style:dotted dashed solid double;
    }