
    p{
        color: red;
        text-align: center;
    }
    #titulo1{
        color:darkblue;
        text-align: right
    }
    .paragrafo1{
        color:darkgoldenrod;
        text-align: left;
    }
    h1.paragrafo1 {
        text-align: right;
        color:darkgreen;
    }

    body {
        background-color: lightblue;
        /*background-image: url("image.png");*/
        background-repeat: no-repeat;
        background-position: right top;
        margin-right: 200px;
        margin-left: 150px;
        margin-top: 100px;
        margin-bottom: 100px;
        background-attachment: fixed;
    }

    p.dotted{
        border-style:dotted;
        border-width: 5px;
        border-color: red;
        border-left-style: solid;
        
    }
    p.dashed{
        border-style:dashed;
        border-width: medium;
        border-color: blue;
    }
    p.solid{
        border-style:solid;
        border-width: 2px 10px 4px 20px;
        border-color:yellow;
        border-radius: 5px;
    }
    p.double{
        border-style:double;
    }
    p.groove{
        border-style:groove;
    }
    p.ridge{
        border-style:ridge;
    }
    p.inset{
        border-style:inset;
    }
    p.outset{
        border-style:outset;
    }
    p.none{
        border-style:none;
    }
    p.hidden{
        border-style:hidden;
    }
    p.mix{
        border-style:dotted dashed solid double;
    }

    p.margin1{
        color: black;
        text-align: right;
        border-style:solid;
        border-width: 2px;
        border-color: gray;
        background-color: goldenrod;
        margin-top: 95px;
        margin-bottom: 90px;
    }

    p.margin2{
        color: black;
        text-align: right;
        border-style:solid;
        border-width: 2px;
        border-color: gray;
        background-color: goldenrod;
        margin-left: 95px;
        margin-right: 90px;
    }

    div {
        width:300px;
        margin: 100px 90px 90px 100px;
        border: 4px solid red;
    }

    p.ex1 {/*inherit : herdar*/
        margin-left: inherit;
    }

    div.ex2 {
        width: 300px;
        background-color: yellow;
        border: none;
        margin: 30px;
    }
      
    div.ex3 {
        width: 300px;
        padding: 25px;
        box-sizing: border-box;
        background-color: gray;
        border:none;
        margin: 30px;
    }

    div#modelbox {
        background-color: lightgrey;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 100px 90px 90px 100px;
        color: green; 
      }
    p.modelbox{
        color: black;
        text-align: left;
        padding: 50px;
        margin-right: 400px;
    }

    div.flower {
        width: 320px;
        padding: 10px;
        border: 5px solid gray;
        margin: 0;
      }

      h3 {
        border: 2px solid black;
        outline: #4CAF50 solid 10px;
        margin: auto;  
        padding: 20px;
        text-align: center;
      }

    .textformatting  {
        border: 1px solid gray;
        padding: 8px;
    }
    
    .textformatting h1 {
        text-align: center;
        text-transform: uppercase;
        color: #4CAF50;
    }
    
    .textformatting p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }
    
    .textformatting a {
        text-decoration: none;
        color: #008CBA;
    }

    div.icons{
        background-color: lightgrey;
        width: 300px;
        border: 15px solid green;
        padding: 50px;
        margin: 100px 90px 90px 100px;
        color: green; 
      }

      div.container{
        background-color: lightgrey;
        width: 300px;
        border: 15px solid black;
        padding: 50px;
        margin: 100px 90px 90px 100px;
        color: black; 
      }

      div.bootstrapicon{
        background-color: lightgrey;
        width: 300px;
        border: 15px solid black;
        padding: 50px;
        margin: 100px 90px 90px 100px;
        color: black; 
        text-align: center;
      }

    div.csslink{
        background-color: lightgrey;
        width: 200px;
        border: 5px solid black;
        padding: 30px;
        margin: 100px;
        color: black; 
        text-align: center;
      }

      a:link, a:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: red;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      
      tr:hover {background-color:#f5f5f5;}
      
      
      tr:nth-child(even){background-color: #f2f2f2}
      
      th {
        background-color: #4CAF50;
        color: white;
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }