p::first-line{
    color: #ff0000;
    font-variant: small-caps;
}

p::first-letter {
    color: #008000;
    font-size: xx-large;
}

p.second::first-letter {
    color: #ff0000;
    font-size:200%;
}  

p.third::first-letter {
    color: #ff0000;
    font-size: xx-large;
}
  
p.third::first-line {
    color: #0000ff;
    font-variant: small-caps;
}